<div style="text-align:center"><h1>HardCoded Dashboard</h1></div>
<div class="container">
    <div class="row" style="text-align:center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                Termômetro
                <canvas id="termometro"></canvas>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                Velocímetro
                <div id="gaugeArea"></div>
            </div>
        </div>
        </div>
    </div>

